.circular-progress {
  position: relative;
  height: 180px;
  width: 180px;
  background-color: lightblue;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.circular-progress::before {
  content: "";
  position: absolute;
  height: 84%;
  width: 84%;
  background-color: #fff;
  border-radius: 50%;
}

.value-container {
  position: relative;
  font-size: 30px;
}
