#modal-generate-password .modal-content {
  padding: 50px 75px;
}

#modal-generate-password .container-generatepassword {
  display: flex;
}

#modal-generate-password h1 {
  text-align: center;
  margin: 0 0 40px 0;
  font-size: 1.65em;
  font-weight: normal;
}

.container-generatepassword-modal-config {
  margin-left: 40px;
}

.generatepassword-config {
  margin-bottom: 10px;
}

.generatepassword-config label {
  font-size: 0.9em;
  font-weight: lighter;
}

.disabled-input {
  opacity: 0.5;
}

.generatepassword-set-length {
  margin: 10px 0 0 40px;
}

.generatepassword-controls {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#generated-password-input {
  background-color: #f0f0f0;
  color: var(--text-color);
  border-radius: 5px;
  width: 250px;
  height: 50px;
  box-sizing: border-box;
  padding: 5px 10px;
  text-align: center;
  border: none;
  font-weight: lighter;
  font-size: 1em;
}

#generatepassword-button {
  max-width: 150px;
  margin: 0 10px;
}

#copy-button {
  max-width: 80px;
}

#explanatory-password {
  font-size: 0.9em;
  opacity: 0.9;
  font-weight: lighter;
}

@media screen and (max-width: 950px) {
  #modal-generate-password .modal-content {
    padding: 50px;
  }

  .container-generatepassword {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .container-generatepassword-modal-config {
    margin-left: 0;
  }
}

@media screen and (max-width: 700px) {
  .generatepassword-controls {
    flex-direction: column;
    justify-content: center;
  }

  #generatepassword-button {
    margin: 10px 0;
  }
}

@media screen and (max-width: 400px) {
  #modal-generate-password h1 {
    font-size: 1.4em;
  }

  #generated-password-input,
  .generatepassword-controls button {
    max-width: 200px !important;
    width: 200px;
  }

  .generatepassword-config label {
    font-size: 0.8em;
  }
}
