#modal-test-password .modal-content {
  padding: 50px 75px;
}

#modal-test-password h1 {
  text-align: center;
  margin: 0 0 40px 0;
  font-size: 1.65em;
  font-weight: normal;
}

.testpassword-controls {
  display: flex;
}

.testpassword-controls input {
  margin-right: 10px;
}

.testpassword-controls button {
  margin-left: 10px;
}

#tested-password-input {
  background-color: #f0f0f0;
  color: var(--text-color);
  border-radius: 5px;
  width: 300px;
  height: 50px;
  box-sizing: border-box;
  padding: 5px 10px;
  text-align: center;
  border: none;
  font-weight: lighter;
  font-size: 1em;
}

.container-testpassword-modal-progressbar {
  display: grid;
  place-items: center;
  margin-top: 30px;
}
